/* -----GENERAL BODY SECTION----- */
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/* -----HEADER SECTION----- */
.header {
    background-color: #1f2937;
    display: flex;
    padding-left: 15%;
    padding-right: 15%;

    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}

/* LOGO */
.logo {
    display: flex;
    font-size: 24px;
    font-weight: 700;
    color: #f9faf8;
    align-items: center;
    white-space: nowrap;
}

/* NAVBAR */
.navbar {
    margin-left: auto;
    font-size: 18px;
    font-weight: 400;
    color: #e5e7eb;
}

.ulnav {
    list-style: none;
    display: flex;
    align-items: center;
}

li {
    padding-left: 40px;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: #f9faf8;
}


/* -----HERO SECTION----- */
/* GENERAL */
.hero {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    padding: 100px 15%;
    
}

.heroleft,
.heroright {
    width: 50%;
    min-width: 350px;
}

/* HERO LEFT  */
.heroleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 50px 10px 0;

}

.heroheader {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

.heromain {
    color: #e5e7eb;
    font-size: 18px;
}

.button {
    background-color: #3882f6;
    color: #e5e7eb;
    width: fit-content;
    padding: 10px 30px;
    border-radius: 10px;
}

/* HERO RIGHT */
.heroright {
    display: flex;
    align-items: center;
}

.img {
    width: 100%;
}

/* -----INFO SECTION----- */
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 15%;
}

.infotitle {
    font-size: 24px;
    font-weight: 700;
}

.boxcontainer {
    display: flex;
    padding: 50px 0 100px 0;
    flex-wrap: wrap;
}

.box {
    display: flex;
    flex-direction: column;
    width: 150px;
}

.border {
    box-sizing: border-box;
    width: 150px;
    height: 150px;
    border: solid;
    border-radius: 15px;
    border-color: #3882f6;
}

.boxtext {
    padding-top: 5px;
    text-align: center;
}